@charset "utf-8";
/* CSS Document */


body {
	font: 100% 宋体, 新宋体;
	background:url(../img/body_bak.png) repeat-y center fixed;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
    }
 #container {
	width: 1000px; 
	background:none repeat scroll 0 0 #D1EFF1;
	margin:0 auto;
	text-align: left;
    }
 #header {
	padding: 0; 
	margin:0 5px;
	height:55px;
	background:url(../img/tit_bg.png) repeat-x scroll left 5px;	
   } 
 #header marquee{
	margin: 0; 
	padding:20px 10px;
	font-family:Arial,宋体, sans-serif;
	font-size:18px;
	color:#333;
  }
 .banner{ 
     margin:0 5px;
	 padding:0;
	 height:150px;
	 background-image:url(../img/banner.png);
	 }
  #navsub{
	margin:5px;
    padding:0;
	height:60px;
	background:url(../img/head_topbg.png) repeat-x;
	border-radius:5px;
	}
  #navsub ul{
	margin:0;
	padding:15px 10px 10px;
	list-style:none;
	height:28px;
	border-bottom:1px dashed #D9D9D9;
	}
  #navsub ul li{
	 float:left;
	 margin:0;
	 padding:0 50px;
	 border-left:2px solid #1969A8;
	 display:block;
	 }
  #navsub ul li.sub01{
	  border-left:none;
	  }
  #navsub ul li a:link{
	padding:7px;
	text-decoration:none;
	color:#1969A8;
    font-weight:bold;
	  }   
  #navsub ul li a:visited{
	  color:#609;
	  text-decoration:none;
	  font-weight:bold;
	  }
  #navsub ul li a:hover{
	  background:url(../img/4.png);
	  color:#fff;
	  text-decoration:underline;
	  }
 
  #mainContent {
	padding:0;
	margin:0 5px;
	clear:left;
	width:990px;
	height:auto;
     }
  #mainContent .leftContent{
	  float:left;
	  margin:0 0 5px 0;
	  }
  #mainContent .left{
	  margin:0;
	  padding:5px 0;
	  width:240px;
	  background:url(../img/cg_fourbg.png) no-repeat;
	  }
  #mainContent .left p{
	  padding:5px 35px;
	  margin:0;
	  font-style:italic;
	  font-weight:bold;
	  color:#1969A8;
	  }
  #mainContent .left p.p1{
	  padding:5px 0;
	  margin:2px 8px;
	  font-family:Arial,宋体, sans-serif;
	  font-size:14px;
	  line-height:22px;
	  font-style:normal;
	  font-weight:100;
	  color:#333;
	  }
  #mainContent .left p.p2{
	 border-bottom:1px dotted #D3D3D3;
	 }
  #mainContent .left ul{
	  margin:0;
	  padding:5px 35px;
	  list-style:none;
	  }
  #mainContent .left ul li{
	  padding:8px;
	  list-style-image:url(../img/ico-arrow.png);
	  border-bottom:1px dotted #D3D3D3;
	  }
  #mainContent .left ul li.no_bottom{
	 border-bottom:none;
	  }
  #mainContent .left ul li a:link,
  #mainContent .left ul li a:visited{
	  text-decoration:none;
	  font-size:14px;
	  color:#1969A8;
	  text-overflow:ellipsis;
	  white-space:nowrap;
	  }
   #mainContent .left ul li a:hover{
	   text-decoration:underline;
	   font-weight:bold;
	   font-size:16px;
	   }
	.notice{
		border:1px solid #D1EFF1;
		background:url(../img/Lineconsult.png) no-repeat center top #D1EFF1;
		height:50px;
		width:200px;
		margin:0 15px;
		}
	.notice .consult{
		padding-left:70px;
		}
	 .notice .consult a:link,
	 .notice .consult a:visited{
		font:Arial, yahei;
		color:#1969A8;
		text-decoration:none;
		}
	 .notice .consult a:hover{
		 color:#fff;
		 text-decoration:underline;
		 }
    #mainContent .rightContent{
	  margin:0;
	  padding:0;
	  float:right;
	  width:740px;
	  }
  .commessage{
	padding:0;
	margin-bottom:5px;
	border:1px solid #D3D3D3;
	border-radius:0 0 5px 5px; 
	  }
  .commessage .tit{
	 margin:0 0 1px 0;
	 background:url(../img/tit_bg.png) repeat-x scroll left top #f1f1f1;
	 height:50px;
     border:1px solid #fff;
	  }
  .commessage .tit p{
	   padding-left:40px;
	   color:#333;
	   background:url(../img/tit_icon.gif) no-repeat 20px 7px transparent;
	   font:bold 16px/20px microsoft yahei;
	  }
  .commessage .content{
	padding:5px 10px;
	line-height:25px;
	text-indent:2em;
	letter-spacing:3px;
	background:none repeat scroll 0 0 #FAFAFA;
	border-radius:0 0 5px 5px;
	  }
  .wrap{ 
	  margin:0;
	  } 
  .wrap ul li{text-align:center; float:left; list-style:none;} 
  .wrap ul li a:hover{text-decoration:none; color:#f30; border:1px solid #ddd;} 
  .wrap ul li img{ width:180px; height:180px;}
  
  .produce{
	background:none repeat scroll 0 0 #FAFAFA;
	border:1px solid #fff;
	border-radius:0 0 5px 5px;
	}
.produce .produce-row{
	border-bottom:1px dashed #ddd;
	margin:10px 20px;
	}
.produce span{
	margin:5px 0 0 20px;
	}
.produce span.num{
	margin:5px 20px 5px 410px;
	}
.producepic{
	margin:0;
	height:200px;
	}
.producepic .shell_box{
	text-align:center;
	width:180px;
	margin:10px 30px;
	float:left;
	}
.producepic .shell_box p{
	line-height:22px;
	margin:0;
	padding:0;
	font-size:12px;
	text-align:center;
	}
.producepic .shell_box p img{
	border:1px solid #ddd;
	width:180px;
	}
.pagerNum{
	clear:left;
	line-height:25px;
	margin:0 40px 0 30px;
	padding:10px 0;
	text-align:center;
	background:#F1F1F1;
	}	
.pagerNum a:link,
.pagerNum a:visited{
	padding:0 5px;
	color:#333;
	text-decoration:none;
	overflow:hidden;
	}
.pagerNum a:hover{
	text-decoration:none;
	padding:0 5px;
	color:#FFF;
	background:none repeat scroll 0 0 #83B3F2;
	}
.pagerNum a.FirstPag{
	padding:0 5px;
	background:none repeat scroll 0 0 #1969A8;
	color:#FFF;
	}
  
  #footer {
	clear:both;
	padding:5px 0;
	margin:0 5px;
	border-top:2px solid #1969A8;
	background:#FAFAFA;
         } 
 #footer p{
	margin:0;
	padding:5px;
	font-family: Arial,宋体, sans-serif;
	font-size: 12px;
	text-align:center;
}
 #footer p span.company{
	 font-size:14px;
	 font-weight:bold;
	 color:#004080;
	 }

